body{
    background-color: beige;
}
.container{
    margin: auto;
    width: 40%;
    border: 2px royalblue;
    padding: 10px;
}
#title{
    height: 100px;
}
h1{
    text-align: center;
    color: darkred;
    font-weight: bold;
    font-family: "Arial Black", serif;
}
button {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #f44336;
    color: white;
}
input{
    width: 300px;
    height: 20px;
}
#serverMessage{
    text-align: center;
    height:60px;
    margin:40px 0 0 20px;
    font-weight:bold;
    font-size:1.5em;
    color: darkblue;
}

table{
    border: 1px solid grey;
    margin: 0 5px 0 90px
}
th{
    border: 1px solid grey;
    width: 100px;
}
td{
    border: 1px solid grey;
    text-align:center;
    width : 100px;
}
#form div{
    text-align: right;
    width:90px;
    margin:10px 0 0 20px;
    display:inline-block;
}
